.rainbow {
    animation: rainbow 2s;
    animation-iteration-count: infinite;
}
@keyframes rainbow {
    0%{
        color: red;
    }
    20%{
        color:orange;
    }
    40%{
        color:yellow;
    }
    60%{
        color:green;
    }
    80%{
        color: blue;
    }
    80%{
        color: maroon;
    }
}